body {
  background-color: rgb(221, 221, 221);
}

.maintitle {
  text-align: center;
  font-size: 60px;
}

.card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 200px;
}

.singlelement {
  background-color: rgb(161, 255, 255);
  padding: 20px;
}
.card img {
  width: 250px;
}

.card h1 {
  font-size: 15px;
}
